<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking System:Home</title>
    <style>
    #heading{text-align: center;color:#711A75;font-size:50px;}
    #first{background-color:#FFEE63}
    #para{text-align:center;color:#1363DF;font-size:20px;}
    #link{border:1px solid blue; background-color:#DFF6FF;text-decoration:none;padding:10px;color:#A149FA;border-radius:10px;}
    </style>
</head>
<body id="first">
   <!--<img src="{{ MEDIA_URL }}/backg.jpg">-->
    <h1 id="heading">APNA BANK</h1>
    <p id="para">Welcome to Apna Bank</p>
    <a href="{% url 'customers' %}" id="link">View Customers</a>
</body>
</html>